@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Allerta Stencil', sans-serif;
}

body{
  min-height: 100vh;
}

.container{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  position: relative;
  justify-content: center;
  grid-template-columns: minmax(300px, 1110px);
}

nav{
  background-color:whitesmoke;
  height: 80px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
nav ul{
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-content: start;
  gap:10px;
}

nav li{
  cursor: pointer;
}

li, .title{
  align-self: center;
  list-style: none;
}

li{
  font-size: large;
}

.title{
  margin: 30px;
}

.content{
  background-color:white;
  display: flex;
}

.imgHolder{
  display: grid;
  place-items: center;
  align-self: flex-end;
}
.hero{
  width: clamp(350px, 450px, 80%);
}

.textHolder{
  align-self: flex-start;
  font-size: xx-large;
  padding-top: 1%;
}

.textMain{
  white-space: pre-line;
}

footer{
  background-color: whitesmoke;
  height: 80px;
  width: 100%;
  max-width: 1110px;
  position: absolute;
  bottom: 0;
  justify-self: center;
}

.foot-list{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.homeContainer,
.contactMain,
.menuMain{
  width: 100%;
  height: 100%;
}

.contactList{
  text-align: center;
}

.mainContainer{
  display: flex;
  flex-direction: column;
}

.homeContainer{
  display: grid;
  place-items: center;
  grid-template-rows: 1fr .5fr;
}

.contactMain{
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

iframe{
  margin-top: 25px;
  width: 85%;
  height: 50%;
}

.menuMain{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
  padding: 0px 5px;

}
.info-price{
  text-align: right;
}
.box{
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:10px;
  border-bottom: 1px solid black;
}

.box:last-child{
  border-bottom: none
}

@media screen and (min-width: 550px) {
  .homeContainer{
    grid-template-rows: 1fr .4fr;
  }
}

@media screen and (min-width: 750px)
{
  .homeContainer
  {
    grid-template-rows: 1fr .35fr;
  }
}

@media screen and (min-width: 950px)
{
  .homeContainer
  {
    grid-template-rows: 1fr .3fr;
  }
}